@charset "UTF-8";
/* Reset CSS */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

/* Fin du reset */
/* Ajout des polices */
@font-face {
  font-family: "Questrial";
  src: url("elements/Questrial-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("elements/Roboto-Bold.ttf");
  font-weight: bold;
}
body {
  font-family: "Questrial", sans-serif;
  color: #363636;
}

/* Gestion de la navbar */
header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  padding-left: 8vw;
  padding-right: 10vw;
  padding-top: 2rem;
}
header ul {
  display: flex;
  align-items: center;
}
header ul li {
  margin-right: 2rem;
}
header ul li a {
  text-decoration: none;
  color: #363636;
}
header ul li:nth-of-type(4) {
  margin-right: 0;
  margin-left: 1.5rem;
  border-radius: 1.5rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-color: #3f3d56;
}
header ul li:nth-of-type(4) a {
  color: white;
}

/* Style de la partie introduction */
#introduction {
  padding-top: 5.5rem;
  display: flex;
  padding-left: 10vw;
  position: relative;
}
#introduction #intro-gauche {
  padding-top: 11rem;
  width: 30vw;
  padding-left: calc(21vw - 300px);
}
#introduction #intro-gauche h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.25rem;
  line-height: 2.75rem;
  margin-bottom: 2rem;
}
#introduction #intro-gauche p {
  font-size: 1.125rem;
  line-height: 2rem;
  margin-bottom: 2.5rem;
  max-width: 300px;
}
#introduction #intro-gauche button {
  background-color: #3f3d56;
  color: white;
  font-size: 1rem;
  border-radius: 1.5rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border: none;
  margin-bottom: 4.9rem;
}
#introduction #intro-gauche ul {
  display: flex;
  width: 7.5rem;
  justify-content: space-between;
  align-items: center;
}
#introduction #intro-droite {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 60vw;
  max-width: 800px;
  overflow: hidden;
}

/* Placement de la première illustration */
#illu-gauche {
  position: relative;
  z-index: -1;
}
#illu-gauche img {
  position: absolute;
  top: 1.75rem;
}

/* Style de la deuxième section */
#things_i_do {
  padding-top: 15rem;
  padding-left: 10vw;
  padding-right: 11vw;
}
#things_i_do h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.875rem;
  text-align: center;
  margin-bottom: 3rem;
}
#things_i_do div {
  display: flex;
  justify-content: space-between;
  gap: 13.5vw;
  width: 80vw;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
#things_i_do div article h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

#things_i_do > div:nth-of-type(1) {
  margin-bottom: 4rem;
}
#things_i_do > div:nth-of-type(1) img {
  width: 31vw;
  max-width: 430px;
}
#things_i_do > div:nth-of-type(1) article {
  padding-top: 3.3rem;
}

#things_i_do > div:nth-of-type(2) {
  margin-bottom: 5.4rem;
}
#things_i_do > div:nth-of-type(2) img {
  width: 35vw;
  max-width: 470px;
}
#things_i_do > div:nth-of-type(2) article {
  padding-top: 6.7rem;
}

#things_i_do > div:nth-of-type(3) img {
  width: 32vw;
  max-width: 443px;
}
#things_i_do > div:nth-of-type(3) article {
  padding-top: 1.25rem;
}

#things_i_do > img {
  position: relative;
  z-index: -1;
  top: -50px;
  right: 0;
}/*# sourceMappingURL=style.css.map */