/* Reset CSS */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

/* Fin du reset */

/* Ajout des polices */
@font-face {
  font-family: "Questrial";
  src: url("elements/Questrial-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("elements/Roboto-Bold.ttf");
  font-weight: bold;
}

body {
  font-family: "Questrial", sans-serif;
  color: #363636;
}

/* Gestion de la navbar */
header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  padding-left: 8vw;
  padding-right: 10vw;
  padding-top: 2rem;

  ul {
    display: flex;
    align-items: center;
    li {
      margin-right: 2rem;
      a {
        text-decoration: none;
        color: #363636;
      }
    }
    li:nth-of-type(4) {
      margin-right: 0;
      margin-left: 1.5rem;
      border-radius: 1.5rem;
      padding-left: 2.25rem;
      padding-right: 2.25rem;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      background-color: #3f3d56;
      a {
        color: white;
      }
    }
  }
}

/* Style de la partie introduction */
#introduction {
  padding-top: 5.5rem;
  display: flex;
  padding-left: 10vw;
  position: relative;
  #intro-gauche {
    padding-top: 11rem;
    max-width: 20vw;
    h1 {
      font-family: "Roboto", sans-serif;
      font-size: 2.25rem;
      line-height: 2.75rem;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.125rem;
      line-height: 2rem;
      margin-bottom: 2.5rem;
    }
    button {
      background-color: #3f3d56;
      color: white;
      font-size: 1rem;
      border-radius: 1.5rem;
      padding-left: 2.25rem;
      padding-right: 2.25rem;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      border: none;
      margin-bottom: 4.9rem;
    }
    ul{
      display: flex;
      width: 7.5rem;
      justify-content: space-between;
      align-items: center;
    }
  }
  #intro-droite {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    max-width: 60vw;
    overflow: hidden;
  }
}

/* Placement de la première illustration */
#illu-gauche{
  position: relative;
  z-index: -1;
  img{
    position: absolute;
    top: 1.75rem;
  }
}