/* Reset CSS */

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  // overflow: overlay;
}

ol,
ul {
  list-style: none;
}

/* Fin du reset */

/* Ajout des polices */
@font-face {
  font-family: "Questrial";
  src: url("../elements/Questrial-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../elements/Roboto-Bold.ttf");
  font-weight: bold;
}

body {
  font-family: "Questrial", sans-serif;
  color: #363636;
  overflow: overlay;
}

/* Gestion de la navbar */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  padding-left: 8vw;
  padding-right: 10vw;
  padding-top: 2rem;
  z-index: 1;
  #menu {
    display: flex;
    align-items: center;
    li {
      margin-right: 2rem;
      cursor: pointer;
      transition-duration: 0.5s;
      a {
        text-decoration: none;
        color: #363636;
      }
    }
    li:nth-of-type(4) {
      margin-right: 0;
      margin-left: 1.5rem;
      border-radius: 1.5rem;
      padding-left: 2.25rem;
      padding-right: 2.25rem;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      background-color: #3f3d56;
      a {
        color: white;
      }
    }
    li:hover{
      font-size: 1.2rem;
    }
  }
}

/* Style de la partie introduction */
#introduction {
  padding-top: 5.5rem;
  display: flex;
  padding-left: 10vw;
  position: relative;
  #intro-gauche {
    padding-top: 11rem;
    width: 30vw;
    padding-left: calc(21vw - 300px);
    h1 {
      font-family: "Roboto", sans-serif;
      font-size: 2.25rem;
      line-height: 2.75rem;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.125rem;
      line-height: 2rem;
      margin-bottom: 2.5rem;
      max-width: 300px;
    }
    ul {
      display: flex;
      width: 7.5rem;
      justify-content: space-between;
      align-items: center;
    }
    button {
      margin-bottom: 4.9rem;
    }
  }
  #intro-droite {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 60vw;
    max-width: 800px;
    overflow: hidden;
  }
}
button {
  background-color: #3f3d56;
  color: white;
  font-size: 1rem;
  border-radius: 1.5rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border: none;
  cursor: pointer;
}
button:hover{
  
}

/* Placement de la première illustration */
#illu-gauche {
  position: relative;
  z-index: -1;
  img {
    position: absolute;
    top: 1.75rem;
  }
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.875rem;
  text-align: center;
}

/* Style de la deuxième section */
#things_i_do {
  padding-top: 15rem;
  padding-left: 10vw;
  padding-right: 11vw;
  
  h2 {
    margin-bottom: 3rem;
  }
  div {
    display: flex;
    justify-content: space-between;
    gap: 13.5vw;
    width: 80vw;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    article {
      h3 {
        font-family: "Roboto", sans-serif;
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}

#things_i_do > div:nth-of-type(1) {
  margin-bottom: 4rem;
  img {
    width: 31vw;
    max-width: 430px;
  }
  article {
    padding-top: 3.3rem;
  }
}

#things_i_do > div:nth-of-type(2) {
  margin-bottom: 5.4rem;
  img {
    width: 35vw;
    max-width: 470px;
  }
  article {
    padding-top: 6.7rem;
  }
}
#things_i_do > div:nth-of-type(3) {
  img {
    width: 32vw;
    max-width: 443px;
  }
  article {
    padding-top: 1.25rem;
  }
}

/* Placement de la deuxième illustration */
#illu-droite {
  position: relative;
  z-index: -1;
  img {
    position: absolute;
    top: -36.125rem;
    right: 0;
  }
}

/* Placement de la troisième illustration */
#illu-gauche-petite {
  position: relative;
  z-index: -1;
  img {
    position: absolute;
    left: 0;
    top: 9.8rem;
  }
}

/* Style de la section Recent Work */
#recent_work {
  padding-left: 10.6vw;
  padding-top: 8.25rem;
  padding-right: 11.8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    margin-bottom: 3.4rem;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr min(34.7vw, 475px) 55px min(34.7vw, 475px) 1fr;
    margin-bottom: 5.25rem;
    li:nth-of-type(odd) {
      position: relative;
      top: 3.5rem;
      grid-column: 2/3;
    }
    li:nth-of-type(even) {
      grid-column: 4/5;
    }
    li:nth-of-type(1),
    li:nth-of-type(2) {
      margin-bottom: 55px;
    }
    li {
      img {
        width: 34.7vw;
        max-width: 475px;
      }
    }
  }
}

/* Placement de la quatrième illustration */
#illu-droite-petite {
  position: relative;
  z-index: -1;
  img {
    position: absolute;
    right: 0;
    top: -40.875rem;
  }
}

/* Style de la partie contact */
#contact {
  display: flex;
  padding-left: 12vw;
  position: relative;
  min-height: 53.7rem;
  margin-bottom: 12.5rem;
  #contact-gauche {
    h2 {
      font-size: 2.125rem;
      max-width: 320px;
      text-align: left;
      margin-top: 4rem;
      margin-bottom: 2.5rem;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      width: 40vw;
      #nom_complet {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
      }
      #nom,
      #prenom,
      #email,
      #sujet,
      #message {
        display: flex;
        flex-direction: column;
        background-color: rgb(84, 177, 146, 0.15);
        padding: 0.4rem;
        border-radius: 4px;
        font-size: 1.1rem;
        backdrop-filter: blur(10px);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.05);
        width: 100%;
      }
      #nom,
      #prenom {
        width: calc(50% - 0.25rem);
        min-width: 250px;
      }
      input,
      textarea {
        padding: 0.3rem;
        border-radius: 4px;
        border: none;
        margin-top: 0.2rem;
        background-color: rgb(84, 177, 146, 0.1);
        backdrop-filter: blur(10px);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.05);
        color: #3f3d56;
        transition: color 0.3s ease-out;
        transition: background-color 0.4s ease-out;
        font-size: 1rem;
      }
      input::-webkit-input-placeholder {
        color: #b8b8b8;
        font-family: "Questrial", sans-serif;
        font-size: 1rem;
      }
      textarea {
        resize: none;
      }
      input:focus,
      textarea:focus {
        outline: none;
        background-color: white;
      }
      button {
        width: fit-content;
        margin-bottom: 4rem;
      }
    }
    ul {
      display: flex;
      width: 7.5rem;
      justify-content: space-between;
      align-items: center;
    }
  }
  #contact-droite {
    position: absolute;
    z-index: -1;
    top: -7.25rem;
    right: 0;
    width: 40vw;
    max-width: 683px;
    overflow: hidden;
  }
}

#illu-gauche-bas {
  position: relative;
  z-index: -1;
  img {
    position: absolute;
    top: -24rem;
  }
}

/* Style scrollbar */
body::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #363636;
}

/* Fixer les ancres */

/* Responsive */
@media (max-width: 750px) {
  #illu-gauche,
  #illu-droite,
  #illu-gauche-bas {
    img {
      max-width: 20vw;
    }
  }

  #illu-gauche-petite,
  #illu-droite-petite {
    img {
      max-width: 15vw;
    }
  }

  #introduction {
    justify-content: center;
    padding-left: 0;
    #intro-gauche {
      padding-top: 0;
      margin-top: 6rem;
      padding-left: 0;
      padding: 1rem;
      max-width: 80vw;
      min-width: fit-content;
      background-color: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(5px);
      box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
      border-radius: 6px;
    }
    #intro-droite {
      width: 100vw;
    }
  }

  #things_i_do {
    padding-top: 10rem;
    padding-left: 0;
    padding-right: 0;
    div {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      article {
        h3 {
          text-align: center;
        }
      }
    }
  }

  #things_i_do > div:nth-of-type(1) {
    img {
      width: 80vw;
    }
    article {
      padding-top: 2rem;
    }
  }

  #things_i_do > div:nth-of-type(2) {
    img {
      width: 80vw;
    }
    article {
      padding-top: 2rem;
    }
  }
  #things_i_do > div:nth-of-type(3) {
    img {
      width: 80vw;
    }
    article {
      padding-top: 2rem;
    }
  }

  #contact {
    padding-left: 0;
    justify-content: center;
    margin-bottom: 8rem;
    padding-top: 6rem;
    #contact-gauche {
      width: 80vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        text-align: center;
      }
      form {
        gap: 1.5rem;
        width: 80vw;
        #nom,
        #prenom,
        #email,
        #sujet,
        #message {
          background-color: rgba(255, 255, 255, 0.4);
          backdrop-filter: blur(10px);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
          border-radius: 6px;
        }
        input,
        textarea {
          background-color: rgba(255, 255, 255, 0.4);
          backdrop-filter: blur(5px);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
          border-radius: 6px;
          color: #3f3d56;
          transition: color 0.3s ease-out;
          transition: background-color 0.4s ease-out;
          font-size: 1rem;
        }
      }
      button {
        align-self: center;
      }
    }
    #contact-droite {
      width: 100vw;
    }
  }

  header {
    padding-left: 4vw;
    padding-right: 4vw;
    #menu {
      li {
        margin-right: 0.8rem;
      }
      li:nth-of-type(4) {
        margin-left: 0rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
      li:hover{
        font-size: 1rem;
      }
    }
  }
}
